<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Event Bright Light</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
<br>
<div class="pl-5">
<a type="button" class="btn btn-primary" href="../index.html">Retour à la page principale</a>
</div>
<br>

<footer id="footer">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 m-4">
        <div class="float-lg-right pr-5"><a href="#top">Back to top</a></div>
        <div><a href="../index.html">Lien vers le site</a></div><br>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="../index.html"> Event Bright Light</a>
        </div>
    </div>
  </div>
</footer>


    <!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color:#C8C8C8">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Utiliser Event Brite Light</h5>

        <ul class="list-unstyled">
          <li><a href="http://www.eventbrite.fr/how-it-works" class="eds-global-footer__link">Logiciel de billetterie</a></li>
          <li><a href="https://www.eventbrite.fr/organizer/pricing/" class="eds-global-footer__link">Tarifs</a></li>
          <li><a href="https://www.eventbrite.fr/l/reserved-seating/" class="eds-global-footer__link">Plan de salle</a></li>
          <li><a href="https://www.eventbrite.fr/spectrum/" class="eds-global-footer__link">Les possibilités d&#x27;Eventbrite</a></li>
          <li><a href="https://www.eventbrite.fr/sitemap/" class="eds-global-footer__link">Carte du site</a></li>
          <li><a href="https://www.eventbrite.fr/l/normesdecontenu/" class="eds-global-footer__link">Normes de contenu</a></li>
          <li><a href="https://www.eventbrite.fr/l/coronavirus-ressources-pour-organisateurs-evenements/" class="eds-global-footer__link">Ressources à propos du COVID-19</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Planifiez vos événements</h5>

        <ul class="list-unstyled">
          <li><a href="https://www.eventbrite.fr/l/vendre-les-billets-en-ligne/" class="eds-global-footer__link">Vendre des billets en ligne</a></li>
          <li><a href="https://www.eventbrite.fr/l/gestion-evenements-en-ligne/" class="eds-global-footer__link">Gestion d&#x27;événements en ligne</a></li>
          <li><a href="https://www.eventbrite.fr/l/inscription-devenement-en-ligne/" class="eds-global-footer__link">Inscription gratuite à un événement</a></li>
        </ul>
      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Recherche par ville</h5>

        <ul class="list-unstyled">
          <li><a href="https://www.eventbrite.fr/d/france--paris/events/" class="eds-global-footer__link">Événements Paris</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--lyon/events/" class="eds-global-footer__link">Événements Lyon</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--marseille/events/" class="eds-global-footer__link">Événements Marseille</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--lille/events/" class="eds-global-footer__link">Événements Lille</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--toulouse/events/" class="eds-global-footer__link">Événements Toulouse</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--nice/events/" class="eds-global-footer__link">Événements Nice</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--bordeaux/events/" class="eds-global-footer__link">Événements Bordeaux</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--nantes/events/" class="eds-global-footer__link">Événements Nantes</a></li>
          <li><a href="https://www.eventbrite.fr/d/france--strasbourg/events/" class="eds-global-footer__link">Événements Strasbourg</a></li>
          <li><a href="https://www.eventbrite.fr/directory/sitemap/" class="eds-global-footer__link">Toutes les villes</a></li>
          </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Restons connectés</h5>

        <ul class="list-unstyled">
          <li><a href="https://www.eventbrite.fr/support/contact-us" class="eds-global-footer__link">Contacter l&#x27;assistance</a></li>
          <li><a href="https://www.twitter.com/Eventbrite" target="_blank" rel="noopener noreferrer" class="eds-global-footer__link">Twitter</a></li>
          <li><a href="https://www.facebook.com/Eventbrite" target="_blank" rel="noopener noreferrer" class="eds-global-footer__link">Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/eventbrite" target="_blank" rel="noopener noreferrer" class="eds-global-footer__link">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/eventbrite/" target="_blank" rel="noopener noreferrer" class="eds-global-footer__link">Instagram</a></li>
          </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="../index.html"> Event Bright Light</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
